body{
    background-color: chocolate;
}

h1{
    font-style: italic;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 20%;
}

p{
    font-style: italic;
    font-size: medium;
    font-weight: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

button{
border-color: black;
text-align: center;
background-color: green;
font-size: x-large;
margin-left: 45%;
padding: 10px;
}
